{% extends 'laboratorio/base.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <br><br>
    <div class="row justify-content-center mt-3">
        <div class="col-6 text-center">
            <div class="alert" style="border-color: rgb(88, 88, 88);" role="alert">Estas seguro que deseas eliminar al "{{laboratorio.nombre}}"?
                <p><a href="{% url 'mostrar_lab' %}"><-- Retornar</a></p>
                <p><input class="btn btn-danger" type="submit" value="Confirm"></p>
            </div>
        </div>
    </div>   
</form>

{% endblock content %}